{% for script in page.scripts %}
  {% if script == 'twitter' %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>{% endif %}
  {% if script == 'flickr' %}
  <script async src="https://embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>{% endif %}
  {% if script == 'instagram' %}
  <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>{% endif %}
  {% if script == 'tablesort' %}
  <script async src="/public/js/tablesort.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/public/css/tablesort.css">{% endif %}
  {% if script == 'calendar' %}
  <link rel="stylesheet" href="/public/css/calendar.css">{% endif %}
  {% if script == 'c3' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js" charset="utf-8"></script>{% endif %}
{% endfor %}


