<!DOCTYPE html>
<html>
<head>
<style>
img {
  height: 50px;
  width: 50px;
}
</style>
</head>
<body>
<ul>
{{# books}}
<li>
<img src="{{thumbnail}}" alt="{{name}}">
ISBN: {{isbn}} Name: {{name}} Tags {{# tags}}<a href="#{{.}}">{{.}}</a>{{/ tags}}
</li>
{{/ books}}
</ul>
</body>
</html>