<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/base.css" media="screen, projection" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/calendar.css">
</head>
<body>
    <section class="sidebar">
        <a href="{{ site.baseurl }}">
            <img src="{{ site.gravatar_url }}?s=75" alt="Picture of Anders Olsen Sandvik" height="75" width="75" class="avatar" />
        </a>

        <section class="name">
            <a href="{{ site.baseurl }}">
                Anders Olsen Sandvik
            </a>
        </section>

        <section class="meta">
            <a href="https://github.com/Andersos" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/Andersos" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="{{ site.baseurl }}atom.xml"><i class="fa fa-rss"></i></a>
        </section>
    </section>

    {{ content }}
    {% include analytics.html %}
    {% include disqus.html %}
    <footer></footer>
</body>
</html>
