<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
  <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">-->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">{% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape }}" >
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape }}">{% elsif page.description %}
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape }}">{% else %}
  <meta name="description" content="{{ site.description | strip_newlines | strip_html }}">
  <meta property="og:description" content="{{ site.description | strip_newlines | strip_html }}">{% endif %}
  <meta property="og:url" content="{{site.url}}{{ page.url }}">
  <meta property="og:image" content="{{site.url}}{% if page.thumbnail %}{{ page.thumbnail }}{% else %}/images/logo/anders.jpeg{% endif %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Andersos">
  <meta name="twitter:widgets:csp" content="on">{% if page.tags %}{% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}">{% endfor %}{% endif %}{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">{% endif %}
  <meta name="google-site-verification" content="G18MO-q4X5Vxeu2C9i7C-oRhhniFdqbFJSGtXGSbN1o" />
  <script async src="/public/js/fetch.js" charset="utf-8"></script>
</head>
<body>
    <div class="container">
        <header class="masthead">
            <h3 class="masthead-title">
                <a href="/" title="Home">@Andersos - I make great services people like to use!</a>
            </h3>
            <ul class="nav">
                <!--<li><a href="/projects">Projects</a></li>
                <li><a href="/talks">Talks</a></li>-->
                <!-- Pictures -->
                <!--<li><a href="/about">About</a></li>-->
                <!--<li><a href="https://github.com/andersos/feedback/issues/new" target="_blank">Questions</a></li>-->
            </ul>
        </header>
        <main>
            {{ content }}
        </main>
        <hr>
        <footer>
            <p>Be notified of new posts. <a href="http://andersos.net/atom.xml">Subscribe to the RSS feed.</a>
            <!-- Fix feedburner maybe?
            <a href="feed://feeds.feedburner.com/andersos">Subscribe to the RSS feed.</a>--></p>
            <a href="https://www.iubenda.com/privacy-policy/195867">Privacy</a>
            <a href="http://boardgames.andersos.net">Boardgames</a>
        </footer>
    </div>
    {% include scripts.html %}
    {% include analytics.html %}
</body>
</html>
