---
layout: default
---
<div class="body">
    <article class="post">
        <h1>{{ page.title }}</h1>
        <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
        <div class="post-body">
            {{ content }}
        </div>
    </article>

    <hr>

    <div class="qna">
        <h2>Questions?</h2>
        <p>Have a question about this post or anything else? Ask away on <a href="https://twitter.com/andersos" target="_blank">Twitter</a>, in <a href="https://github.com/Andersos/feedback" target="_blank">my feedback repo</a> or comment below.</p>
    </div>

    <hr>

    <aside class="related">
        <h2>Related Posts</h2>
        <ul class="posts">
            {% for post in site.related_posts limit:3 %}
            <li>
                <a href="{{ post.url }}">
                    {{ post.title }}
                    <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
                </a>
            </li>
            {% endfor %}
        </ul>
    </aside>

    {% if page.comments %}
    {% include comments.html %}
    {% endif %}
</div>